.friends {
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin-right: 200px;
}

.friends__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #ebedee;
    font-size: 20px;
    font-weight: 700;
}