.photo__info{
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
}

.photo__infoHeader {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ebedee;
}

.photo__infoTitle {
    margin-right: 5px;
    cursor: pointer;
}

.photo__infoNumber {
    color: #BCBEC0;
}
